body {
  background-color: black;
  background-image: url(b88dbc25bf26e8f8f297c49aa8e8732e.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 106vh; }

p {
  font-size: 110px;
  color: white; }

.text {
  color: white;
  font-size: 110px;
  margin-left: 5%; }

